<div class="container">
    <div class="col-md-12">
        <h1>blog index</h1>
        <% if @featured_blog %>
        <div class="row">
            <a href="blog/<%= @featured_blog.id %>"><h2 class="heading">Featured Post: <%= @featured_blog.title %></h2></a>
        </div>
        <div class="row">
            <p><%= @featured_blog.post %></p>
        </div>
        <% end %>
        
        <% @blogs.each do |blog| %>
        <div class="row">
            <a href="<%= blog.id %>"><h2 class="heading"><%= blog.title %></h2></a>
            <p><%= blog.post %></p>
        </div>
        <% end %>
     
    </div>
    <%= will_paginate @blogs %>
</div>



