<%= render 'navbar' %>

<%= form_for(:post, url: "/blog/#{@post.id}", method: :patch) do |f| %>
<div class="container top-margin">
    <div class="row">
        <div class="col-md-12 create-blog">
            <h1>Edit post</h1>
            <div class="controls">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Post Title</label>
                        <%= f.text_field :title, class: "form-control", placeholder: "Enter post title" %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <%= f.check_box :featured %>
                        <%= label_tag(:featured, "Make this the Featured Post") %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <%= f.text_area :content, id: "post-editor"%>
                    </div>
                </div>
                
                    <%= f.hidden_field :date %>
                    <%= hidden_field_tag 'selected', 'none'  %>
        
                <div class="row">
                    <div class="text-center">
                        <%= f.submit "Publish Post", class: "btn btn-primary btn-block" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>